/* #main-title {
    color: black;
    margin-left: auto;
    margin-right: auto;
} */

#main-p {
  color: black;
  font-family: 'Raleway',sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
  margin: 0 0 24px;
}


body {
  font-family: 'Raleway',sans-serif;
}

html {
    /* background-image: url(images/rm255-sasi-27.jpg); */
    background-color: whitesmoke;
}

h3 {
    font-family: 'Raleway',sans-serif;
    text-align: center;
    font-size: 30px;
}

#click-me {
  font-size: 20px;
}

img {
  height: 300px;
  width: 300px;
}




.flex-container {
    padding-top: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 250px;
    /* background-color: black; */
  }
  
  .flex-container>div {
    color:black;
    width: 300x;
    height: 100px;
  }


  .flex-container1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
  }
  
  .flex-container1 > div {
    /* background-color: #f1f1f1; */
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    font-size: 16px;
    
  }



  .flex-container3 {
      display: flex;
      justify-content: center;
      padding-left: 10px;
      padding-right: 10px;
      flex-wrap: wrap;
  }

  #photo-main:hover {
    transform: scale(1.2);
    animation-name: border-swag;
    animation-duration: 5s;
  }

  @keyframes border-swag {
    0% {border-color:red; left:0px; top:0px;}
    12% {border-color: blue; left:200px; top:0px;}
    25% {border-color:green; left:200px; top:0px;}
    33% {border-color: orange; left:200px; top:0px;}
    50% {border-color: red; left:200px; top:0px;}
    63% {border-color:blue; left:200px; top:0px;}
    75% {border-color: green; left:200px; top:0px;}
    85% {border-color:orange; left:200px; top:0px;}
    100% {border-color:red; left:0px; top:0px;}
   }

  #bang-can {
    width: 750px;
    height: 500px;
    border: 1px solid black;
    
  }



  /* #bang-can:hover {
    transform: scale(1.2);
  } */

  .flex-container4 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    
  }

  .item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    padding: 12px 16px;
    border: 1px black;
  }

 #nutrition-facts {
   width: 300;
   height: 500px;
 }

 #nutrition-facts:hover {
  transform: scale(1.2);
}

 #photo-main {
   border: 5px solid black
 }

 ul {
  color: black;
  font-family: 'Raleway',sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
  margin: 0 0 24px;
 }

 ul:hover {
  transform: scale(1.2);
  animation-name: circle;
  animation-duration: 3s;
 }

 @keyframes circle {
  0% {color:red; left:0px; top:0px;}
  12% {color: blue; left:200px; top:0px;}
  25% {color:green; left:200px; top:0px;}
  33% {color: orange; left:200px; top:0px;}
  50% {color: red; left:200px; top:0px;}
  63% {color:blue; left:200px; top:0px;}
  75% {color: green; left:200px; top:0px;}
  85% {color:orange; left:200px; top:0px;}
  100% {color:red; left:0px; top:0px;}
 }